.canvas-tab-nav {
  display: flex;
  padding: 0;
  margin:0;
  border: 0;
  li {
    flex-basis: 33.33%;
    margin: 0;
    border:0;
    border-radius: 0;
    float: none!important;
    padding: 0!important;
    border-left: 2px solid #fff;
    &:first-child {
      border-left: 0;
    }
  }
  li a {
    display: flex;
    align-items: center;
    width: 100%;
    color: $blue;
    border:0;
    border-radius: 0;
    padding: 1rem 1.5rem;
    height: 100%;
    text-decoration: none;
    background-color: $blue_light;
    outline: 0;

    &.selected, &.selected:hover {
      background-color: #fff;
      cursor: default;
    }

    &:hover {
      background-color: #efefef;
      text-decoration: none;
    }

    img {
      display: block;
      height: 40px;
    }

    span {
      display: block;
      padding-left: 1rem;
      line-height: 1;
      font-weight: 700;
    }
    span:first-child {
      text-transform: uppercase;
    }

  }
}

.canvas-tab-nav.ctab-two {
  li {
    flex-basis: 50%;
  }
}

.canvas-panel {
  outline: none;
  padding: 1rem;
}

.student .canvas-panel {
  background-color: #fff;
}
