.sw-header {
  background: url(../assets/img/canvas/robot-background.jpg) no-repeat top right;
  background-size: cover;
  overflow: auto;
}

.sw-header-text {
  margin: $base;
  padding: $base;
  background-color: $blue;
  color: #fff;
  width: 50%;
}
