.canvas-select-project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.canvas-flex-project__card {
  width:49%;
}

.canvas-project-header {
  @include serifHeader();
}

.canvas-style{
  .project-card-image {
      height: 195px;
      background-color: #000;
      img {
        object-fit: contain;
        height: 195px;
        margin: 0 auto;
        display: block;
      }
  }
}

.cc-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $s3;
}

.custom-category {
  background-color: $blue;
  color: #fff;
  text-transform: uppercase;
  font-size: $s2;
  font-weight: 700;
  letter-spacing: 0.03rem;
  padding: $s5 $s4;
  border-radius: 1.2rem;
  line-height: 1;
  &.cc-user {
    background-color: $orange;
  }


}

.canvas-project-details {
  width: 100%;
}

#project-details {
  background-color: #efefef;
  padding-bottom: $base/2;
  width: 100%;
  .project-name {
    width: 33.33%;
    padding: $base;
    background-color: $blue;

    h1 {
        text-align: center;
    }
  }
  .project-video {
    width: 66.66%;
    max-height: 360px;
    .videoWrapper,video {
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .full-btn {
    width: 50%;
    margin: 0 auto;
    &:hover {
      background-color: darken($blue,10%);
    }
  }

  ul, ol {
    margin-bottom:0;
  }

  .project-details {
    padding: $base/2;
    padding-bottom: 0;

    .flex-col > div {
      margin-bottom: $base;
    }
  }


  .flex-col:first-child {
    width: 66%;
  }
  .flex-col:nth-child(2){
    width:32%;
    height: 100%
  }

  .assign-project {
    padding: $base;
  }

}
